
.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 156px;
}

.header-list .container {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    background-color: #FFFFFF;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}

.studio {
    color: #2E2F42;
    text-decoration: none;
    list-style-type: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3125;
    letter-spacing: 0.03em;
    text-align: left;
}

.nav-li {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: flex;
}

.nav-li:hover {
    color: #404BBF;
}

.nav-li:focus {
    color: #404BBF;
}

button {
    cursor: pointer;
}

address {
    text-decoration: none;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    display: flex;
}

.container {
    display: flex;
}


body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.heading-h1 {
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.order-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.order-btn:hover {
    background-color: #404BBF;
}

.order-btn:focus {
    background-color: #404BBF;
}

.main-heading {
    text-align: center;
    background-color: #2E2F42;
    align-self:auto;
}

.title {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    cursor: pointer;
    opacity: 0px;
}

.title:hover {
    color: #404BBF;
}

.team-list li{
    margin-right: 32px;
}

.team-list {
    background-color: #F4F4FD;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
    display: flex;
}

h2 {
    color: #2E2F42;
    background-color: #F4F4FD;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5em;
    letter-spacing: 0.02em;
    text-align: center;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

p {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

.portfolio h2 {
    background-color: #FFFFFF;
}


.footer-title {
    color: #4D5AE5;
    text-decoration: none;
    list-style-type: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3125em;
    letter-spacing: 0.03em;
    text-align: left;
    margin-left: 156px;
}

.footer-studio {
    color: #F4F4FD;
    text-decoration: none;
    list-style-type: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3125em;
    letter-spacing: 0.03em;
    text-align: left;
}

.footer-p {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    opacity: 0px;
    margin-left: 156px;
}

footer {
    background-color: #2E2F42;
}