
.header-list {
    align-items: center;
    justify-content: space-between;
    margin-left: 156px;
}

.header-list .container {
    flex-wrap: wrap;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio {
    color: #2E2F42;
}

.nav-li {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-li:hover {
    color: #404BBF;
}

.nav-li:focus {
    color: #404BBF;
}

button {
    cursor: pointer;
}

.address-nav {
   font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.heading-h1 {
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.order-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.order-btn:hover {
    background-color: #404BBF;
}

.order-btn:focus {
    background-color: #404BBF;
}

.main-heading {
    text-align: center;
    background-color: #2E2F42;
    align-self:auto;
}

.title {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    cursor: pointer;
    opacity: 0px;
}

.title:hover {
    color: #404BBF;
}

.approach-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.approach-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-list li{
    margin-right: 32px;
}

.team-list {
    background-color: #FFFFFF;
}

.employees {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

ul {
    list-style-type: none;
    text-align: center;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

.portfolio-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-studio {
    color: #2E2F42;
}

.footer-p {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

footer {
    background-color: #2E2F42;
}