*,
*::before,
*::after {
    box-sizing: border-box;
}


.header-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 156px;
}

.header-list .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.address-nav {
    display: flex;
}

body {
    font-family: "Roboto", sans-serif;
}

.nav-list li {
    display: flex;
}